<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<header> <nav>
        <ul>
          <li><a href="{% url 'CarsRental_App:home_view' %}">Home</a></li>
          <li><a href="{% url 'CarsRental_App:about_view' %}">About</a></li>
          <li><a href="{% url 'CarsRental_App:pwGenerator_view' %}">Password Generator</a></li>
        </ul>
      </nav>
    </header>
<body>
    <h1>Hello World, This is my new HOME for Car Rentals Website  ! we're excited to welcome you here.</h1>
</body>
</html>