<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password Generator</title>
  </head>
  <body>
    <header>
      <h1>Welcome to My Webpage</h1>
      <nav>
        <ul>
          <li><a href="{% url 'CarsRental_App:home_view' %}">Home</a></li>
          <li><a href="{% url 'CarsRental_App:about_view' %}">About</a></li>
          <li>
            <a href="{% url 'CarsRental_App:pwGenerator_view' %}"
              >Password Generator</a
            >
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <section>
        <h2>Password Generator</h2>

        <p>Generated password {{password}}.</p>
      </section>
    </main>
    <footer><p>&copy; 2024 My Webpage. All rights reserved.</p></footer>
  </body>
</html>
