{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1> This is our Cars Rental About Page </h1>
    <p> Hello There,
        <br>Thank you for choosing our Cars Rental Portal
        <br>we have plenty of choices that satisfy everyone's needs
        <br>tell us about your expectations to serve you better than you expect </p>

    <img src="{%static 'images/python.jpg'%}" width="500">

</body>
</html>