{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
    <img src="{% static 'images/Car.jpg' %}" alt="An image of a car rental sign">
    <h1>Hello World, This is my new HOME for Car Rentals Website! We're excited to welcome you here.</h1>
    <a href="{% url 'main:about_view' %}">About</a>
    <a href="{% url 'main:generate_password_view' %}">Password Generate</a>
</body>
</html>