<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>

    <div>
        <ul>
            <li><a href="{% url 'main:aboutUs' %}"><b>About Us!</b></a></li>
            <li><a href="{% url 'main:passGen' %}"><b>Generate a Password for me!</b></a></li>
        </ul>
    </div>

    <p>
    <center><b> Hello World, This is my new HOME for Car Rentals Website  ! we're excited to welcome you here. </b></center>
    </p>

</body>
</html>