<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="widyh=device-width , initial-scale=1.0">
    <title>password_generate</title>
    <style>
        h1{
            text-align: center;
        }
        span{
            color:aqua;
        }
    </style>
    </head>

<body>
    <nav>
        <br/>
        <a href="{ % url 'main:password_page'%}">password_generate</a>
        <br/>
        <a href="{% url 'main:about_page'%}">about</a>
    
       <h1>{{ password }}</h1>
    </nav>

</body>
</html>