<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About - Car Rentals</title>
    <style>
        body {
            font-family: 'Times New Roman', Times, serif;
            background-color: #e6f2ff;
            color: #004080;
            text-align: center;
            padding: 50px;
        }
    </style>
</head>
<body>
    <img src="/static/images/Car Rental.jpg" alt="Car Rental">
    <h3>A simple paragraph about Car Rentals:</h3>
    <p>
        Car rentals offer a convenient and flexible transportation option for travelers and individuals in need of a temporary vehicle. 
        Whether for a business trip, vacation, or while a personal car is being repaired, rental services provide access to a wide range of vehicles to suit various needs and preferences. 
        Customers can choose from economy cars for cost-effective travel, luxury vehicles for special occasions, or larger vehicles like SUVs and vans for family trips and group travel. 
        With options for short-term and long-term rentals, car rental companies cater to diverse requirements, ensuring mobility and convenience wherever one needs to go.
    </p>
    <a href="{% url 'CarRental:home' %}" class="button">Back</a>
</body>
</html>
