<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Us - Car Rentals</title>
    <style>
        body {
            font-family: 'Times New Roman', Times, serif;
            background-color: #e6f2ff;
            color: #004080;
            text-align: center;
            padding: 50px;
        }
    </style>
</head>
<body>
    <h3>Contact Us</h3>
    <p>Mobile Number: +966 503782355</p>
    <p>Email: contact@carrentals.com</p>
    <a href="{% url 'CarRental:home' %}" class="button">Back</a>
</body>
</html>
