<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Generate Password - Car Rentals</title>
    <style>
        body {
            font-family: 'Times New Roman', Times, serif;
            background-color: #e6f2ff;
            color: #004080;
            text-align: center;
            padding: 50px;
        }
    </style>
</head>
<body>
    <h3>Your Generated Password:</h3>
    <p>{{ password }}</p>
    <a href="{% url 'CarRental:home' %}" class="button">Back</a>
</body>
</html>
