{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About page</title>
</head>
<body style="background-color: gainsboro;">
    <div style="display: flex; align-content: center; align-items: center; flex-direction: column;">
        <img style="width: 150px;" src="{% static 'images/websitelogo.png' %}" alt="image not found"/>
        <h2>About our projects :</h2>
        <p>enable users to retrive the important data about faculaty members..</p>
    </div>
    
</body>
</html>