
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page..</title>
</head>
<body>
    <div style="display: flex; align-items: center; align-content: center; flex-direction: column;">
        <h2>our websites pages , click to navigate: </h2>
        <a href="{% url 'main:about_view' %}" style="text-decoration: underline; background-color: rgb(177, 255, 255); ">About</a>
        <a href="{% url 'main:password_view' %}" style="text-decoration: underline;  background-color: rgb(177, 255, 255);">Pssword genrator</a>



    </div>
</body>
</html>